main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    padding-inline-start: 0;
    background-color: grey;
    color: white;
    width: 220px;
    height: 500px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}
.card li {
    list-style: none;
}

.card .flags {
    height: 50px;
    width: 90px;
}

.shows {
    background-color: rgb(65, 12, 12);
}

.not_avaiable {
    height: 278px;
    width: 185px;
}