main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    padding-inline-start: 0;
    background-color: grey;
    color: white;
    width: 220px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.card li {
    list-style: none;
}